@font-face {
    font-family: 'proxima-nova';
    src: url('Proxima Nova Black Italic.otf');
    src: url('Proxima Nova Black.otf');
    src: url('Proxima Nova Bold Italic.otf');
    src: url('Proxima Nova Condensed Black Italic.otf');
    font-weight: normal;
    font-style: normal;

}